
/* Fenêtre de l'application */
#mainWindow {
	background-image: url("../img/fondtest.png");
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

button {
	background: none;
	border: none;
}

/* Bouton par défaut */
#button {
	border-radius: 0px;
	color: blue;
	border-width: 1px;
/*	background: none;*/
	background-color: rgba(10,10,10,0.95);
	margin: 5px;
}
#button:hover {
	background-color: rgba(186, 194, 209, 0.7);
}

/* Bouton désactivé (encore utile ?) */
#disabledutton {
	border-radius: 1px;
	color: black;
	opacity: 0.5;
/*	padding: 5px;*/
}


#caseIndice {
	background-color: rgba(10, 10, 10, 0.8);
	font-weight: bold;
	color: white;
	border-radius: 0px;
}
/* Indices des lignes et colonnes, met en évidence l'hover */
#caseIndice:hover {
	background-color: white;
}

#cellJeu {
	background-color: rgba(10, 10, 10, 0.8);
	border: none;
	margin: 1px;
	   outline: none;
	border-radius: 0px;
}

#cellJeuSurbri {
	background-color: rgba(224, 139, 222, 1);
	border: none;
	margin: 1px;
	border-radius: 0px;

   outline: none;
}

#gridJeu {
	background-color: rgba(250, 250, 250, 0.1);

}

/* Label par défaut */
#label {
	background-color: rgba(10,10,10,0.90);
	border-radius: 5px;
	color: white;
	font-weight: bold;
	margin:3px;
}
/* Label des lignes et colonnes, outline noir */
#lblIndice {
	color: white;
	font-weight: bold;
	font-size: medium;
/*  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;*/
}
/* Label par défaut blanc */

#lblWhite {
	color: white;
	font-weight: bold;

}

#lblScorePerso {
	color: rgb(77, 174, 226);
	font-weight: bold;

}

/* Label d'information */

#lblAide {
	font-size: large;
	background-color: rgba(10,10,10,0.90);
	color: white;
	font-weight: bold;
}


#lblErr {
	color: red;
	font-size: large;
	font-weight: bold;
	border-radius: 15px;
}

#lblInfo {
	border-radius: 15px;
	color: rgb(78, 201, 30);
	font-weight: bold;
	background-color: rgba(10,10,10,0.90);
}

#lblScores {
	color: white;
	font-weight: bold;
	font-size: large;

}

#lblTimer {
	color: black;
	font-weight: bold;
	font-size: large;
}

/* Panneau de rappel des règles */
#lblRegles {
	color: white;
	font-weight: bold;
	background-color: rgba(147, 148, 150, 0.8);
	  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}
/* Affichage des scores - inachevé */

#boxScores {
	background-color: rgba(68, 71, 76, 0.7);
	border-radius: 25px;
}


/* Bouton de retour au menu précédent / fermeture de l'app */
#btnQuit {
	border: none;
	background-color: #FFF;
}

#boxUtil {
	padding:50px;
}


menubar {
	background-color: rgba(10,10,10,0.90);

}

/* menus déroulants */
#dropdown	 {
	background-color: rgba(10,10,10,0.90);
	color: white;
}
